- name: "backend-deploy-ansible-playbook"
  hosts: "{{ ansible_host }}"
  remote_user: ashan
  connection: ssh
  vars:
    component_path: /home/ashan/app/set-game-backend
    _date: "{{ansible_date_time.iso8601}}"
    venv_path: "{{ component_path }}/.venv"
  roles:
    - backup-files
    - create-directories
    - copy-files
    - setup-venv
    - set-permissions
    - restart-service
